#table {
  width: 100%;
}

th {
  text-align: center;
  border: 1.5px solid black;
  border-radius: 25px;
}

td {
  text-align: center;
}

img {
  border: 2px solid black;
  border-radius: 100px;
}

.sorter {
  cursor: pointer;
  color: limegreen;
  transform: skew(5deg);
}

.sorter:hover {
  color: black;
  transform: skew(3deg);
}

tr {
  border: 1px solid black;
}